.deckName,
.deckOptions{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.deckName{
    right: 50%;
}

.deckOptions{
    left: 50%;
}

.addCard{
    text-align: center; 
    padding: 1em;
}

.addCard > *{
    margin: 0.5em 0;
}

.closeButtonDiv{
    display: flex;
    justify-content: flex-end;
}

.hideDiv{
    display: none;
}

.addDeckDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50%;
    text-align: center;
}

.addDeckDiv p{
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.title{
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem;
}

.addDeckButtons{
    display: flex;
}

.button{
    margin: 0.2rem;
}

.closeButton{
    position: absolute;
    right: 0;
}

.submitButton {
    text-align: center;
}

.form {
    margin: 1rem;
}

.addDeckButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.addDeckButtons > button {
    margin: 0.2rem;
    width: 50%;
}



