.deckName,
.deckOptions{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.deckName{
    right: 50%;
}

.deckOptions{
    left: 50%;
}

.addCard{
    text-align: center; 
    padding: 1em;
}

.addCard > *{
    margin: 0.5em 0;
}

.closeButtonDiv{
    display: flex;
    justify-content: flex-end;
}

