.deckName,
.deckOptions{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.deckName{
    right: 50%;
}

.deckOptions{
    left: 50%;
}
