.addDeck{
    display: block;
    width: 100%;
    text-align: center;
}

.card{
    width: 18rem;
    text-align: center;
    padding: 0.5rem;
}

.card > * {
    margin: 0.5em;
}

.closeButton{
    margin: 0;
    padding: 0;
}

.closeButtonDiv{
    display:flex;
    justify-content: flex-end;
}

.visibleButtons{
    display: inline-block;
}


.subjectCard{
    width: 18rem;
    height: 100px;
    margin: 1rem 0;
}

.subjectContainer{
    text-align: center;
    display:flex;
    width: auto;
    flex-wrap: wrap;
    padding: 0 1.5rem;
}
