.subjects-container{
    margin: 0;
    padding:0;
    
}
.subject-button{
    margin: 0.5em 0.5em;
    width: 10em;
    height: 5em;
}

.select-button{
    width:50%;
    margin: 0 0.5em;
}

.confirm-card{
    padding: 2em;
}

.buttons-container{
    display:flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
}

.info-container{
    text-align:center;
}

.info-text{
    font-weight:500;
    font-size:20px;
}


