.reviewCard{
    width: 18rem;
    text-align: center;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.priorityDiv{
    font-weight: bold;
    font-size: 25px;
    margin-left: 2em;
    margin-top: 2em;
}
