.form-styling{
    background-color:  #A020F0;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-form-button{
    background-color: #A020F0;
    width: 100%;
}

.school-button{
    background-color: #A020F0;
    color: white;
    display:block;
    margin: 1em 0;
    padding: 0.5em;
    text-decoration: none;
}

.school-button:hover{
    color: white;
}